@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');
 body {
    background: url('/images/live.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    background-color: #333;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
}
/* ------ TOUCH UPS ------- */

.myStyle input[type="text"] {
   height: 32px !important;
   width: 150px !important;
   font-size: 10px !important;
   line-height: 32px !important;
}

#header-right-dymanic {
    position: absolute;
    margin-left: 650px;
    margin-top: -45px;
    white-space: nowrap;
}
#userLocation {
    font-size: 0.7em;
    display: inline-block;
    float: right;
    color: #069;
    top: 20px;
    /*font-weight: bold;*/
    white-space: nowrap;
}
#loadingGeo {
    font-size: 0.7em;
    display: inline-block;
    float: right;
    color: #069;
    /*font-weight: bold;*/
}
#localTarget {
    font-size: .75em;
}
#sub-title {
    font-size: .9em;
}
#geo-note {
    font-size: .7em;
}
#reverse-geo {
    margin-left: 420px;
    font-size: .9em;
}
#welcome-text {
    display: inline-block;
}
.slogan {
    font-size: .70em;
    margin-left: 23px;
    line-height: 75% !important;
}
.learn-love {
    font-size: .88em;
    margin-left: 30px;
    color: #00557F;
}
.event-connect-title {
    font-size: 1.2em;
    display: inline-block !important;
    color: #00557F;
}
/* ------- END TOUCH UPS ------- */

/* ------- BEGIN TABLE STYLING ------- */

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    table-layout: fixed;
}
.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 2px solid #006699;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.datagrid table td, .datagrid table th {
    padding: 12px 5px;
    overflow: hidden;
    width: 100px;
}
.datagrid table thead th {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
    background: -moz-linear-gradient(center top, #006699 5%, #00557F 80%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color: #006699;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    border-left: 1px solid #0070A8;
}
.datagrid table thead th:first-child {
    border: none;
}
.datagrid table tbody td a {
    color: #00496B;
    border-left: 1px solid #E1EEF4;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
}
.datagrid table tbody .alt td {
    background: #E1EEF4;
    color: #00496B;
}
.datagrid table tbody td:first-child {
    border-left: none;
}
.datagrid table tbody tr:last-child td {
    border-bottom: none;
}
/* ------- END TABLE STYLING ------- */

hr {
    display: block !important;
    height: 1px !important;
    border: 0 !important;
    border-top: 1px solid #000 !important;
    margin: 1em 0 !important;
    padding: 0 !important;
}
a:link, a:visited {
    color: #eee;
}
.block {
    background-color: rgba(0, 0, 0, 0.2);
    height: 370px;
    padding-left: 12px;
    padding-right: 12px;
}
.jumbotron {
    margin-top: 80px;
}

